# Dependencias de Node.js
node_modules/

dist/
server.js

# Archivos de entorno
.env

# Archivos de registro (Logs)
*.log
npm-debug.log*

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de configuración del editor
.vscode/
.idea/