main {
  flex-grow: 1;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: clamp(14px, 1rem, 18px);
  line-height: 1.6;
  
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, "Serif", Arial, Montserrat;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
  line-height: 1.2;
}

h1 { font-size: clamp(2rem, 1rem + 5vw, 3.052rem); }
h2 { font-size: clamp(1.75rem, 1.2rem + 4vw, 2.441rem);}
h3 { font-size: clamp(1.5rem, 1rem + 3vw, 1.953rem);}
h4 { font-size: clamp(1.25rem, 1rem + 2vw, 1.563rem);}
h5 { font-size: clamp(1.125rem, 1rem + 1vw, 1.25rem);}
h6 { font-size: 1rem;}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

small {
  font-size: 0.7em;
  font-style: italic; 
}

/*==============================================*/

.text-small {  font-size: clamp(10px, 0.8rem + 0.25vw, 12px);}

a { text-decoration: none;}

a:hover { text-decoration: underline;}

button {
  cursor: pointer;
  border-radius: 5px;
}

.hidden {
    display: none !important;
}

/*==============================================*/
