<section id="about" class="center center-text">
    <h1>Acerca de Ágora Dig</h1>
    <p>
        <strong>Ágora Dig</strong> es una plataforma web que funciona como un foro de discusión. El objetivo es crear una comunidad donde los usuarios puedan abrir hilos de debate, publicar comentarios y responder a las dudas de otros.
        <br>
        La inspiración detrás del nombre es el "Ágora" de la antigua Grecia, que era el centro de la vida social y política, un lugar para la discusión y el intercambio de ideas.
    </p>
    <img src="../images/Agora-512x512.webp" alt="Agora-512x512" class="content-wrapper">
</section>