<section id="login" class="form text-center align-middle">
    <h1>Iniciar Sesión</h1>
    <div id="message"></div>
    <form id="loginForm">
        <div class="input-group">
            <input type="text" name="loginIdentifier" placeholder="Usuario o Email" required>
            <div class="error-message"></div> </div>
        </div>
        
        <div class="input-group">
            <input type="password" name="password" placeholder="Tu Contraseña" required>
            <div class="error-message"></div> </div>
        </div>
        <br>
        <button type="submit">Entrar</button>
    </form>
    <p> 
        <br>
        ¿No tienes cuenta? <br>
        <a href="/register">Crear cuenta</a>
    </p>
</section>