<section id="user-profile" class="center center-text">
    <div class="profile-card">
        <img src="{{profilePicturePath}}" alt="Foto de perfil de {{username}}" class="profile-picture">
        
        <h1 class="profile-fullname">{{firstName}} {{lastName}}</h1>
        <p class="profile-username">@{{username}}</p>
        
        <p class="profile-description">
            {{description}}
        </p>

        <div class="profile-meta">
            <span>Miembro desde: {{createdAt}}</span>
        </div>
        <br>
        <button id="logout-button" class="button-logout" title="Cerrar Sesión">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
            <span>Salir</span>
        </button>
        <p id="logout-message" class="message-info"></p>
    </div>
</section>