<section id="register" class=" form center center-text">
    <h1>Crear una cuenta</h1>
    <form id="registerForm">
        <div class="input-group">
            <input type="text" name="firstName" placeholder="Nombre" required>
            <div class="error-message"></div>
        </div>
        <div class="input-group">
            <input type="text" name="lastName" placeholder="Apellidos" required>
            <div class="error-message"></div>
        </div>
        <div class="input-group">
            <input type="text" name="username" placeholder="Nombre de usuario" required>
            <div class="error-message"></div>
        </div>
        <div class="input-group">
            <input type="email" name="email" placeholder="Email" required>
            <div class="error-message"></div>
        </div>
        <div class="input-group">
            <input type="email" name="confirmEmail" placeholder="Confirmar Email" required>
            <div class="error-message"></div>
        </div>

        <div class="input-group password-wrapper">
            <input type="password" name="password" placeholder="Contraseña" required>
            <span class="password-toggle-icon" data-for="password" title="Mostrar/Ocultar contraseña"></span>
            <div class="error-message"></div>
        </div>
        <div class="input-group password-wrapper">
            <input type="password" name="confirmPassword" placeholder="Confirmar Contraseña" required>
            <span class="password-toggle-icon" data-for="confirmPassword" title="Mostrar/Ocultar contraseña"></span>
            <div class="error-message"></div>
        </div>
        
        <div class="input-group">
            <input type="date" name="dateOfBirth" required>
            <div class="error-message"></div>
        </div>

        <div id="message"></div>

        <div class="input-group">
            <label for="profilePicture">Foto de perfil:</label>
            <br>
            <input type="file" name="profilePicture" accept="image/png, image/jpeg" required>
            <br>
            <small>(Tamaño máximo: 4MB)</small>
            <div class="error-message"></div>
        </div>
        <br>
        <button type="submit">Registrar</button>
        
        <div class="form-group terms-group">
            <input type="checkbox" id="publicity" name="acceptsPublicity" required>
            <div>Acepto recibir correos con novedades, promociones e información.</div>
        </div>
        <div class="form-group terms-group">
            <input type="checkbox" id="terms" name="acceptTermsandConditions" required>
            <div>
                He leído y acepto los 
                <a href="/terms-and-conditions" target="_blank" rel="noopener noreferrer">Términos y Condiciones</a> 
                y la 
                <a href="/privacy-policy" target="_blank" rel="noopener noreferrer">Política de Privacidad</a>.
            </div>
        </div>
    </form>

    <p> 
        <br>
        ¿Ya tienes cuenta? <br>
        <a href="/login">Iniciar Sesión</a>
    </p>
</section>