<section class="center center-text">
    <h1>¡Registro Completado!</h1>
    <img src="./../images/robot-check.webp" alt="register-success-img" class="center"/>
    <p>Tu cuenta ha sido creada con éxito.</p>

    <div class="message-success">
        <h5>Este es tu PIN de recuperación y/o eliminación de tu cuenta, anótalo en un lugar seguro.</h5>
        <h2 id="recovery-pin-display"> </h2>
        <p><strong>IMPORTANTE:</strong> Nunca compartas este PIN con nadie.</p>
        
    </div>
    <a href="/profile" class="button">Iniciar Sesión</a>
</section>